.container__menu-title {
  color: white;
  text-align: center;
}

.container__menu-title > h1 {
  margin: 15px auto;
  font-size: 140px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-title > hr {
  margin: 20px 0;
}
