<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJutjwRoId3p-7zUTIRXG9nSWSpoSEqAgmw&usqp=CAU"
      cardTitle="Novo IronMan anunciado!"
      cardDescription="Marvel Studio anuncia novo Homem de Ferro! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ducimus atque quibusdam non amet? Iusto ipsa saepe, distinctio quaerat minima !"
      ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpaHrUUUIQ4t_dIqnAi_b0cxjggYFaIZRLvA&usqp=CAU"
      cardTitle="Novo homem de ferro anunciado!"
      cardDescription="Lorem Ipsum silor domor "
      ></app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpaHrUUUIQ4t_dIqnAi_b0cxjggYFaIZRLvA&usqp=CAU"
      cardTitle="Novo homem de ferro anunciado!"
      cardDescription="Lorem Ipsum silor domor "
      ></app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpaHrUUUIQ4t_dIqnAi_b0cxjggYFaIZRLvA&usqp=CAU"
      cardTitle="Novo homem de ferro anunciado!"
      cardDescription="Lorem Ipsum silor domor "
      ></app-small-card>
  </div>
</div>
